<br />
<mat-card appearance="outlined" fxLayout="column" fxLayoutAlign="center center" class="card">
  <mat-card-header>
    <mat-card-title fxLayoutAlign="center center">{{ project.name }}</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center center">{{ project.summary }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer class="pograming-tags">
    <mat-chip-set>
      <mat-chip
        *ngFor="let tag of project.tags"
        [style.background-color]="tag.color"
        >{{ tag }}</mat-chip
      >
    </mat-chip-set>
  </mat-card-footer>
  <mat-card-actions>
    <button mat-button (click)="OpenProjectDialog(project.id)">Learn More</button>
  </mat-card-actions>
</mat-card>
<br />
