<div class="card-container">
  <mat-card class="head-card">
    <h1 class="head-card-title">Contact</h1>
    <p class="head-card-text">
      I can be reached at the following email:
      <span class="email">{{ emailmy }}</span> <br />
    </p>

    <p class="head-card-text">
      Finnish phone:
      <span class="email">{{ phonemy }}</span> <br />
    </p>
    <p class="head-card-text">or directly massage me on whatsapp</p>
    <!-- when working add to the text above (your maasage will be answered the next day) -->
    <form
      [formGroup]="formForWhatsApp"
      (ngSubmit)="onSubmit()"
      #formForWhatsAppDirective="ngForm"
    >
      <div fxLayout="column" class="whatsapp-form">
        <!-- Name field -->
        <mat-form-field>
          <mat-label class="head-card-text">Name</mat-label>
          <input
            matInput
            placeholder="Your Name"
            formControlName="name"
            required
          />
          <mat-error
            *ngIf="
              formForWhatsApp.get('name')!.invalid &&
              formForWhatsApp.get('name')!.touched
            "
          >
            {{ emptyFieldErrorMessage }}
          </mat-error>
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field>
          <mat-label class="head-card-text">Email</mat-label>
          <input
            matInput
            placeholder="example@skibidi.com"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              formForWhatsApp.get('email')!.invalid &&
              formForWhatsApp.get('email')!.touched
            "
          >
            {{ emailErrorMessage }}
          </mat-error>
        </mat-form-field>

        <!-- Message field -->
        <mat-form-field>
          <mat-label class="head-card-text">Message</mat-label>
          <textarea
            matInput
            placeholder="We would like to hire you for.."
            formControlName="message"
            required
          ></textarea>
          <mat-error
            *ngIf="
              formForWhatsApp.get('message')!.invalid &&
              formForWhatsApp.get('message')!.touched
            "
          >
            {{ emptyFieldErrorMessage }}
          </mat-error>
        </mat-form-field>

        <!-- Submit button -->
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="formForWhatsApp.invalid"
        >
          Send Form to Whatsapp
        </button>
      </div>
    </form>
    <p class="head-card-text" style="margin-top:2%;">
      Feel free to contact me on any of the following platforms:
    </p>
  </mat-card>
</div>
<div class="card-container">
  <a href="https://github.com/PesicLazar" target="_blank">
    <mat-card class="other-cards">
      <img
        src="assets/SVGicons/github.svg"
        alt="GitHub Icon"
        width="40"
        height="40"
      />
      <h3 mat-line class="head-card-text">GitHub</h3>
    </mat-card>
  </a>
  <a
    href="https://steamcommunity.com/profiles/76561198048903282"
    target="_blank"
  >
    <mat-card class="other-cards">
      <img
        src="assets/SVGicons/steam.svg"
        alt="Steam Icon"
        width="40"
        height="40"
      />
      <h3 mat-line class="head-card-text">Steam</h3>
    </mat-card>
  </a>
  <a href="https://www.linkedin.com/in/lazar-pesic-958731322/" target="_blank">
    <mat-card class="other-cards">
      <img
        src="assets/SVGicons/linkedin.svg"
        alt="LinkedIn Icon"
        width="40"
        height="40"
      />
      <h3 mat-line class="head-card-text">LinkedIn</h3>
    </mat-card>
  </a>
  <a href="https://www.instagram.com/lakikill15/" target="_blank">
    <mat-card class="other-cards">
      <img
        src="assets/SVGicons/instagram.svg"
        alt="Instegram icon"
        width="40"
        height="40"
      />
      <h3 mat-line class="head-card-text">Instagram</h3>
    </mat-card>
  </a>
</div>
