<div class="card-container">
  <mat-card class="head-card">
    <h1 class="head-card-title">Contact</h1>
    <p class="head-card-text">
      I can be reached at the following email:
      <span class="email">{{ email }}</span> <br />
    </p>

    <p class="head-card-text">
      Feel free to connect with me on any of the following platforms:
    </p>
  </mat-card>
</div>
<div class="card-container">
  <a href="https://github.com/PesicLazar" target="_blank">
    <mat-card class="other-cards">
      <img
        src="assets/SVGicons/github.svg"
        alt="GitHub Icon"
        width="40"
        height="40"
      />
      <h3 mat-line>GitHub</h3>
    </mat-card>
  </a>
  <a
    href="https://steamcommunity.com/profiles/76561198048903282"
    target="_blank"
  >
    <mat-card class="other-cards">
      <img
        src="assets/SVGicons/steam.svg"
        alt="Steam Icon"
        width="40"
        height="40"
      />
      <h3 mat-line>Steam</h3>
    </mat-card>
  </a>
  <a href="https://www.linkedin.com/in/lazar-pesic-958731322/" target="_blank">
  <mat-card class="other-cards">
    <img
      src="assets/SVGicons/linkedin.svg"
      alt="LinkedIn Icon"
      width="40"
      height="40"
    />
    <h3 mat-line>LinkedIn</h3>
  </mat-card>
</a>
</div>
