<mat-toolbar class="toolbar">
  <!-- main bottons -->
  <div fxFlex fxLayoutAlign="center center" fxLayoutGap="30px">
    <button mat-button routerLink="/" class="mat-tonal-button">
      <mat-icon>home</mat-icon>
      About Me
    </button>
    <button mat-button routerLink="/resume" class="mat-tonal-button">
      <mat-icon>recent_actors</mat-icon>
      Resume
    </button>
    <button mat-button routerLink="/contact" class="mat-tonal-button">
      <mat-icon>call</mat-icon>
      Contact
    </button>
    <button mat-button routerLink="/portfolio" class="mat-tonal-button">
      <mat-icon>folder_open</mat-icon>
      Portfolio
    </button>
  </div>
  <!-- change languge -->
</mat-toolbar>
<img
  src="../assets/LOGO.png"
  style="width: auto; height: 60px"
  routerLink="/"
  class="logo-button"
/>
