<div class="body-content">
<mat-toolbar class="toolbar">
  <!-- Toolbar  -->
  <div class="toolbar-container">
    <img
      src="/myCV/assets/LOGO.jpg"
      style="width: auto; height: 60px"
      routerLink="/"
      class="logo-button"
    />
    <!-- Main Buttons -->
    <div class="toolbar-buttons" fxLayoutAlign="center center" fxLayoutGap="30px">
      <button mat-button routerLink="/" class="mat-tonal-button">
        <mat-icon>home</mat-icon>
        About Me
      </button>
      <button mat-button routerLink="/resume" class="mat-tonal-button">
        <mat-icon>recent_actors</mat-icon>
        Resume
      </button>
      <button mat-button routerLink="/portfolio" class="mat-tonal-button">
        <mat-icon>folder_open</mat-icon>
        Portfolio
      </button>
      <button mat-button routerLink="/contact" class="mat-tonal-button">
        <mat-icon>call</mat-icon>
        Contact
      </button>
    </div>
  </div>
</mat-toolbar>
</div>