<div class="gh0st">

</div>
<div class="button-container" fxLayout="column" fxLayoutAlign="center center">
  <button mat-fab extended (click)="downloadPDFWeb()">
    <mat-icon>download</mat-icon>Download PDF Web_Dev Resume
  </button>
</div>
<div class="button-container" fxLayout="column" fxLayoutAlign="center center">
  <button mat-fab extended (click)="downloadPDFGame()">
    <mat-icon>download</mat-icon>Download PDF Game_Dev Resume
  </button>
</div>
<div class="button-container" fxLayout="column" fxLayoutAlign="center center">
  <button mat-fab extended (click)="downloadPDFIoT()">
    <mat-icon>download</mat-icon>Download PDF IoT Resume
  </button>
</div>

<mat-accordion class="cv-column">
  <mat-expansion-panel hideToggle>
    <!-- no Exprtience related to software engineering so not used for now-->
    <!-- <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="center center">
        <mat-icon>engineering</mat-icon>
        Work Experience
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h1>Social Media Manager & Waiter</h1>
    <h2>Lee House (Restaurant), Ho Chi Minh City</h2>
    <h3>Dec 2022 - Apr 2023</h3>
    <li>Created work emails for all employs</li>
    <li>Managed the restaurant: Instagram, Facebook, Google Business</li>
    <li>Promotion such as fliers and events</li>
    <br /> -->
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="cv-column">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="center center">
        <mat-icon>school</mat-icon>
        Education
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h1>Bachelor in Software and Data Engineering</h1>
    <h2>Singidunum University, Belgrade</h2>
    <h3>Sep 2017 - 2024</h3>
    <h3>Finishing final thesis for diploma, cleared all the other classes</h3>
    <li>Web Programming</li>
    <li>Internet Technology and Web Services</li>
    <li>Networks</li>
    <li>Web Design and Programming</li>
    <li>Artificial Intellence</li>
    <li>Computer Vision</li>
    <li>Introduction to Machine Learning</li>
    <li>Programming Languages for Data Science</li>
    <li>Applied Probability and Statistics</li>
    <li>Security Aspects in Software Engineering</li>
    <li>Software Testing and Quality Assurance</li>
    <li>Games Computing</li>
    <li>Mobile Application Development</li>
    <li>Computers Graphics</li>
    <li>Sensor Systems</li>
    <li>Internet of Things</li>
    <li>Signals and Systems</li>
    <li>Operating Systems and System Programming</li>
    <li>Mining of Massive Datasets</li>
    <li>Software Specification and Modelling</li>
    <li>Cloud Computing</li>
    <li>Non-relational Databases</li>
    <li>Algorithms and Data Structures</li>
    <li>Database Systems</li>
    <li>Object Oriented Software Design and Development</li>
    <li>Scientific English</li>
    <li>Entrepreneurship in Software Engineering</li>
    <li>Principles of Computer Programming</li>
    <li>Spanish language 1</li>
    <li>Discrete Mathematics</li>
    <li>Applied Calculus</li>
    <br />
    <h1>Theoretical and Experimental Physics</h1>
    <h2>Faculty of Physics, Belgrade</h2>
    <h3>2015 - 2017</h3>
    <h3>Attendet</h3>
    <li>Physics Laboratory 1&2</li>
    <li>Foundamentals of Astrophysics</li>
    <li>Processing the Measurement Results</li>
    <li>Basics of Chemistry</li>
    <br />
    <h1>High School</h1>
    <h2>Mathematical and Natural Science Gymnasia, Cacak Serbia</h2>
    <h3>2014 - 2015</h3>
    <br />
    <h1>High School</h1>
    <h2>Megiddo, Kibbutz Ein ha Shofet, Israel</h2>
    <h3>2014 - 2015</h3>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="cv-column">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="center center">
        <mat-icon>history_edu</mat-icon>
        Certifications
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h1>Software and Data Engineering Certificate</h1>
    <img
      src="/myCV/assets/singiCertificate.jpg"
      class="certificate-img"
      alt="Certificate"
    />
    <h1>Univercity Grades</h1>
    <img
      src="/myCV/assets/singiGrades.jpg"
      class="certificate-img"
      alt="Certificate"
    />
    <h1>120-Hours TEFL Certificate Course</h1>
    <img
      src="/myCV/assets/TEFEL.jpg"
      class="certificate-img"
      alt="Certificate"
    />
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="cv-column">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title fxLayoutAlign="center center">
        <mat-icon>star_rate</mat-icon>Skills
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h2>Languages</h2>
    <li>Hebrew(Native)</li>
    <li>English(Scientific English C2/Native)</li>
    <li>Serbian(Advanced)</li>
    <br />
    <h2>Programing Languages</h2>
    <li>HTML</li>
    <li>CSS</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>C#</li>
    <li>C++</li>
    <li>SQL</li>
    <br />
    <h2>Programs/FrameWorks</h2>
    <li>Microsoft 365 (Word, PowerPoint, Excel, Outlook)</li>
    <li>Linux</li>
    <li>Angular</li>
    <li>MongoDB</li>
    <li>Vue.js</li>
    <li>VScode</li>
    <li>IntelliJ IDEA</li>
    <li>Unity</li>
    <li>Stable Diffusion</li>
    <li>Anaconda</li>
    <li>Google Colab</li>
    <li>Android Studio</li>
    <li>Photoshop/Krita</li>
    <br />
    <h2>Other</h2>
    <li>Driving Licence B Category</li>
    <li>IOT/Arduino</li>
  </mat-expansion-panel>
</mat-accordion>
