<mat-card
  appearance="outlined"
  class="card"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-card-title>Arena Mini Game</mat-card-title>
  <p>choose a hero to bet your money on</p>

  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    style="width: 100%; margin: 1rem 0"
  >
    <div
      (click)="placeBet(0)"
      [style.border]="betOn === 0 ? '2px solid gold' : ''"
    >
      <img [src]="hero1.portrait" alt="Hero 1" style="width: 150px" />
      <p>{{ hero1.race }} {{ hero1.class }}</p>
      <div>
        <button class="battlebutton" mat-button color="warn" (click)="battle()">Battle</button>
      </div>
    </div>
    <span style="font-size: 2rem">⚔️</span>
    <div
      (click)="placeBet(1)"
      [style.border]="betOn === 1 ? '2px solid gold' : ''"
    >
      <img [src]="hero2.portrait" alt="Hero 2" style="width: 150px" />
      <p>{{ hero2.race }} {{ hero2.class }}</p>
    </div>
  </div>

  <div>
    <button mat-button color="primary" (click)="newGame()">New Game</button>
    <button mat-button color="primary">Record</button>
  </div>

  <div style="margin-top: 1rem">
    <mat-label>💰 Gold: {{ gold }}</mat-label>
  </div>

  <mat-card-content>
    <pre>{{ battleLog.join("\n") }}</pre>
  </mat-card-content>
</mat-card>
